<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ninjas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img src="{{ url_for('static', filename='img/donatello.jpg') }}" alt="A picture of Donatello">
    <img src="{{ url_for('static', filename='img/leonardo.jpg') }}" alt="A picture of Leonardo">
    <img src="{{ url_for('static', filename='img/michelangelo.jpg') }}" alt="A picture of Michelagelo">
    <img src="{{ url_for('static', filename='img/raphael.jpg') }}" alt="A picture of Raphael">
</body>
</html>